<!DOCTYPE html>
<html>
<head>
  <title>REST in Place Specs</title>
  <%= stylesheet_link_tag    "jasmine" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jasmine" %>
  <%= javascript_include_tag "rest_in_place" %>
  <%= javascript_include_tag "spec" %>
  <%= csrf_meta_tags %>
</head>
<body>

<span id="autoload-sample" class="rest-in-place" style="display: none">autoload sample</span>

<script type="text/javascript">
  jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
  $(function(){
    jasmine.getEnv().execute();
  })
</script>

</body>
</html>
